<div class="row">
  <div class="col-xs-12">
    <h1>{{ book.title }}</h1>
    <h3>{{ book.synopsis }}</h3>
    <p>{{ book.description }}</p>
    <button class="btn btn-default" (click)="onBack()">Retour</button>
    <button class="btn btn-default" (click)="onReserve()" *ngIf="book.title">Reserver</button>
    <button class="btn btn-default" (click)="onEdit()" *ngIf="book.title">Edit</button>
    <button class="btn btn-default" (click)="onDelete()" *ngIf="book.title">Delete</button>
  </div>
</div>